{% extends 'layout.html' %}
{% block body %}
	<script src="../public/custom/js/MealAutocomplete.js"></script>
</head>

<body>
	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h1>What do you want to eat?<br/>
					Type in your meal ideas</h1>
					<form class="form-inline" role="form">
					  <div class="form-group">
					    <input type="text" class="form-control" id="mealInput" placeholder="Enter your meal ideas">
					  </div>
					  <input id="addMeal_button" type="button" class="btn btn-warning btn-lg" value="Add Meal" />
					</form>					
				</div><!-- /col-lg-6 -->
				<div class="col-lg-6">
					<img class="img-responsive" src="../public/vendor/blacktie/img/ipad-hand.png" alt="">
				</div><!-- /col-lg-6 -->
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	
		
	<div class="container">
		<p class="centered">Created by BlackTie.co - Attribution License 3.0 - 2013</p>
	</div><!-- /container -->
{% endblock %}