{% extends 'layout.html' %}

{% block includeScript %}
<script src="/public/custom/js/MealItems.js"></script>
<script>
function orderList($scope, $http) {
	$scope.retrieveItems = function () {
		try {
			return $.map(getURLParameter("items").split(","), function(item, index){
				return parseInt(item)
			})
		} catch (e) {
			return []
		}
	}

	$scope.toggleIngred = function(id){
		$("#meal"+id).toggle('slide', {
	        duration: 200,
	        direction: 'up'
	    });
		return false
	}

	$scope.removeIngred = function(mealId, ingredId){
		$scope.items[mealId].ingredients.splice(ingredId, 1)
		$scope.updateInvoice()
	}

	$scope.totalPrice = function(){
		var total = 0;
		for(var i = 0;i<this.items.length;i++){
			total+= this.items[i].getPrice()
		}
		return parseInt(total*100)/100
	}

	
	$scope.getUrl = function(){
		console.log($scope.bitpayurl)
		return $scope.bitpayurl
	}

	$scope.updateInvoice = function(){
		$.post( "/invoice?p="+$scope.totalPrice(), function( data ) {
			$scope.$apply(function(){
				$scope.bitpayurl = data.data.url
			});
		});
	}

	$scope.meals = populateMealList()

	$scope.items = $.map($scope.retrieveItems(), function(item, index){
		return $scope.meals[item].clone()
	})

	$scope.bitpayurl = "#"
	$scope.updateInvoice()

	
}

</script>
{% endblock %}

{% block body %}
	<div id="headerwrap" style="padding-top:0px">
		<div class="container" ng-controller="orderList" style="font-family: 'Lato', sans-serif;">
			<div class="row">
				<div class="col-lg-12">
				<!--<i class="glyphicon glyphicon-circle-arrow-left white"></i>-->
					<h1>Order</h1>
					<div class="container selectorListdiv" ng-repeat="meal in items" ng-cloak style="background-color: #FFF">
						<div class="container">
						<row>
							<div class="col-lg-2">
								<div ng-cloak>$[[meal.getPrice()]]</div>
							</div>
							<div class="col-sm-3">
								<img src="[[meal.image]]" style="height: 100px;border: solid 3px #333">
							</div>
							<div class="col-lg-7">
								<div>[[meal.Title]]</div>
							</div>
							<!--<div class="col-md-7">
								<div>This is the description</div>
							</div>-->
						</row>
						</div>
						<input type="button" ng-click="toggleIngred($index)" class="btn btn-warning btn-md" value="Ingredients">
						<div id="meal[[$index]]" style="display: none;">
						<div class="container" ng-repeat="incredient in meal.ingredients" ng-cloak>
							<row>
								<div class="col-lg-2">
									<div>$[[incredient.price]]</div>
								</div>
								<div class="col-sm-3">
									<div>[[incredient.name]]</div>
								</div>
								<div class="col-md-7">
									<input type="button" ng-click="removeIngred($parent.$index, $index)" class="btn btn-alert btn-sm" style='padding: 0px 8px;' value="Remove">
								</div>
							</row>
							</div>
							</div>
					</div>
					<h2 class="white">Total: $[[totalPrice()]]</h2>
					<center>
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<h1>Pickup</h1>
								<a href="[[getUrl()]]"><input name="submit" type="image" src="/public/custom/img/orderButton.png" border="0" ></a>
								</br>
								<button onclick="window.location.replace('https://fresh.amazon.com/Delivery?referer=PreviewOrder&slotReferer=PreviewOrder&externalOrderId=AF7-5963569-0478923')" class="btn btn-warning btn-lg" style='font-size: 25px;'>Credit Card</button>
							</div>
							<div class="col-md-6">
								<h1>Delivery</h1>
								<a href="[[getUrl()]]"><input name="submit" type="image" src="/public/custom/img/orderButton.png" border="0" ></a>
								</br>
								<button onclick="window.location.replace('https://fresh.amazon.com/Delivery?referer=PreviewOrder&slotReferer=PreviewOrder&externalOrderId=AF7-5963569-0478923')" class="btn btn-warning btn-lg" style='font-size: 25px;'>Credit Card</button>
							</div>	
						</div>
					</div>		
					</center>		
				</div><!-- /col-lg-6 -->
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
{% endblock %}