{% extends 'layout.html' %}

{% block includeScript %}
<script src="/public/custom/js/MealItems.js"></script>
<script>
function orderList($scope, $http) {
	$scope.retrieveItems = function () {
		try {
			return $.map(getURLParameter("items").split(","), function(item, index){
				return parseInt(item)
			})
		} catch (e) {
			return []
		}
	}

	$scope.items = $.map($scope.retrieveItems(), function(item, index){
		return (item)
	})
	console.log($scope.items)
}

</script>
{% endblock %}

{% block body %}
	<div id="headerwrap" style="padding-top:0px">
		<div class="container" ng-controller="orderList">
			<div class="row">
				<div class="col-lg-12">
				<!--<i class="glyphicon glyphicon-circle-arrow-left white"></i>-->
					<h1>Order</h1>
					<hr style="height:10px;background-color: #EEE;border:none;">
					<div class="container">
						<row>
							<div class="col-sm-3">
								<img src="/public/custom/img/logo.png" style="height: 100px">
							</div>
							<div class="col-lg-2">
								<div>Name</div>
							</div>
							<div class="col-md-7">
								<div>This is the description</div>
							</div>
						</row>
					</div>
					<hr style="height:10px;background-color: #EEE;border:none;">
					<h2 class="white">Total: $0.00</h2>
					<form id="donate" action="https://bitpay.com/checkout" method="post" onsubmit="return bp.validateMobileCheckoutForm($('#donate'));">
					  <input name="action" type="hidden" value="checkout">
					  <input name="orderID" type="hidden" placeholder="Email address (optional)" >
					  <input name="price" type="hidden" placeholder="Amount" value="10.00" />
					  <!--<select name="currency" value="" >
					    <option value="USD" selected="selected">USD</option>
					    <option value="BTC">BTC</option>
					    <option value="EUR">EUR</option>
					    <option value="GBP">GBP</option>
					  </select>-->
					  <input name="data" type="hidden" value="SRkpL6jTOABpS9wex5zaXvDPAYVN6HG9/cMkuenTVWNxsaBFauhthwbLfsnft9ATvwkLJy5UGlmrLqFeSBvkL0oKmYz0fY/QbGeLC3xiOTAd73hcSRDabVbBd97WWhPN+QjYT30mLJBzvGPqWSTJjO9pOuw1IgBWwMdVn79ZP4NWzDfNdsZvBs4zXnwrdyYNAiKR80tJZRn3CdS37orhSU0QO7SfVYXet+8BcaxA3CwBdqEBiwaKbknIOnH2yGKhaqSzJkKcsHG4UAEeTLc9MYTg/DYBlaJmo/hutkZrz+2hdEyU5byXBkWsrqwWn+8sThJdI752abbanOLzhxEK2a0IE+8Wb7BG6XFy95Yb0OY=">
					  <input name="submit" type="image" src="/public/custom/img/orderButton.png" border="0" >
					</form>
						
				</div><!-- /col-lg-6 -->
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
{% endblock %}