{% extends 'layout.html' %}

{% block includeScript %}
<script src="/public/custom/js/MealItems.js"></script>
<script>
function orderList($scope, $http) {
	$scope.retrieveItems = function () {
		try {
			return $.map(getURLParameter("items").split(","), function(item, index){
				return parseInt(item)
			})
		} catch (e) {
			return []
		}
	}
	$scope.meals = populateMealList()

	$scope.items = $.map($scope.retrieveItems(), function(item, index){
		return $scope.meals[item].clone()
	})

	$scope.toggleIngred = function(id){
		console.log($("#meal"+id))
		$("#meal"+id).toggle('slide', {
	        duration: 200,
	        direction: 'up'
	    });
		return false
	}

	$scope.totalPrice = function(){
		var total = 0;
		for(var i = 0;i<this.items.length;i++){
			total+= this.items[i].getPrice()
		}
		return parseInt(total*100)/100
	}
}

</script>
{% endblock %}

{% block body %}
	<div id="headerwrap" style="padding-top:0px">
		<div class="container" ng-controller="orderList" style="font-family: 'Lato', sans-serif;">
			<div class="row">
				<div class="col-lg-12">
				<!--<i class="glyphicon glyphicon-circle-arrow-left white"></i>-->
					<h1>Order</h1>
					<div class="container selectorListdiv" ng-repeat="meal in items" ng-cloak style="background-color: #FFF">
						<div class="container">
						<row>
							<div class="col-lg-2">
								<div>$[[meal.getPrice()]]</div>
							</div>
							<div class="col-sm-3">
								<img src="[[meal.image]]" style="height: 100px;border: solid 3px #333">
							</div>
							<div class="col-lg-7">
								<div>[[meal.Title]]</div>
							</div>
							<!--<div class="col-md-7">
								<div>This is the description</div>
							</div>-->
						</row>
						</div>
						<input type="button" ng-click="toggleIngred($index)" class="btn btn-warning btn-md" value="Ingredients">
						<div id="meal[[$index]]" style="display: none;">
						<div class="container" ng-repeat="incredient in meal.ingredients" ng-cloak>
							<row>
								<div class="col-lg-2">
									<div>$[[incredient.price]]</div>
								</div>
								<div class="col-sm-3">
									<div>[[incredient.name]]</div>
								</div>
								<div class="col-md-7">
									<input type="button" ng-click="toggleIngred($index)" class="btn btn-alert btn-sm" style='padding: 0px 8px;' value="Remove">
								</div>
							</row>
							</div>
							</div>
					</div>
					<h2 class="white">Total: $[[totalPrice()]]</h2>
					<form id="donate" action="https://bitpay.com/checkout" method="post" onsubmit="return bp.validateMobileCheckoutForm($('#donate'));">
					  <input name="action" type="hidden" value="checkout">
					  <input name="orderID" type="hidden" placeholder="Email address (optional)" >
					  <input name="price" type="hidden" placeholder="Amount" value="10.00" />
					  <!--<select name="currency" value="" >
					    <option value="USD" selected="selected">USD</option>
					    <option value="BTC">BTC</option>
					    <option value="EUR">EUR</option>
					    <option value="GBP">GBP</option>
					  </select>-->
					  <input name="data" type="hidden" value="SRkpL6jTOABpS9wex5zaXvDPAYVN6HG9/cMkuenTVWNxsaBFauhthwbLfsnft9ATvwkLJy5UGlmrLqFeSBvkL0oKmYz0fY/QbGeLC3xiOTAd73hcSRDabVbBd97WWhPN+QjYT30mLJBzvGPqWSTJjO9pOuw1IgBWwMdVn79ZP4NWzDfNdsZvBs4zXnwrdyYNAiKR80tJZRn3CdS37orhSU0QO7SfVYXet+8BcaxA3CwBdqEBiwaKbknIOnH2yGKhaqSzJkKcsHG4UAEeTLc9MYTg/DYBlaJmo/hutkZrz+2hdEyU5byXBkWsrqwWn+8sThJdI752abbanOLzhxEK2a0IE+8Wb7BG6XFy95Yb0OY=">
					  <input name="submit" type="image" src="/public/custom/img/orderButton.png" border="0" >
					</form>
						
				</div><!-- /col-lg-6 -->
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
{% endblock %}