.white {
  color: #EEE;
}

.selectorList {
	background: #FFF;
	color: #000;
	background-color: #FFF;
	min-width: 100px;
	min-height: 100px;
}

.mealselection{
	color: #FFF;
	margin-top: 10px;
	margin-bottom: 20px;
}