.white {
  color: #EEE;
}

.container {
	padding-right: 0px;
	padding-left: 0px;
}

.selectorListdiv {
	background: #FFF;
	color: #000;
	background-color: #FFF;
	min-width: 100px;
	min-height: 100px;
	margin-bottom: 30px;
	border-radius: 10px;
	padding: 11px;
}

.mealselection{
	color: #FFF;
	margin-top: 10px;
	margin-bottom: 20px;
}

.xbutton{
	
	float: right;
	vertical-align: middle;
	margin-top: 25px;
    line-height:15px;
    border: 0px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:right;
    text-decoration:none;
    background: #E75252;
    box-shadow: 0 0 3px gray;

	
}
.xbutton:hover{
	background: #E71111;	
}

.title{
	margin-left: 10px;
}