.white {
  color: #EEE;
}

.container {
	padding-right: 0px;
	padding-left: 0px;
}

.selectorListdiv {
	background: #FFF;
	color: #000;
	background-color: #FFF;
	min-width: 100px;
	min-height: 100px;
	margin-bottom: 30px;
	border-radius: 10px
}

.mealselection{
	color: #FFF;
	margin-top: 10px;
	margin-bottom: 20px;
}